@keyframes slideLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .animate-slide-left {
    animation: slideLeft 1.5s ease forwards;
  }
  